@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.16s ease-in-out;
  /* border: 1px solid white; */

  /* overflow-x: hidden; */
}
:root.dark {
  color-scheme: light dark;
}

:root {
  --day-color: #fce700;
  --night-color: #815df6;
  --circle-top: 14%;
  --circle-left: 7%;
  --circle-light-display: none;
  --toggle-text-drk-color: #f3f3f3;
  --toggle-text-lgt-display: none;
  --toggle-background-color: #2c2c2cd2;
  --toggle-border-color: #6565658e;
  --background-color-drk: #212121;
  --background-color-lgt: #f9f9f9;
  --toggle-box-shadow: rgb(0, 0, 0);
  --inner-circle-background-color: #363636;
  /* --selection-text-color: #161616; */
  --selection-background-color: #ededed;
  --selection-color: rgb(19, 19, 19);
  --nav-background-color: #3c3c3cef;
  --nav-border-top-color: #cfcfcf27;
  --nav-border-bottom-color: #cfcfcf00;
  --nav-border-side-color: #6969692e;
  --nav-shadow-color: rgba(0, 0, 0, 0.25);
  --nav-a-color: white;
  --hero-h1-gradient-start: #ffffff;
  --hero-h1-gradient-end: #ffffff00;
  --hero-h1-shadow: rgba(255, 255, 255, 0.195);
  --hero-h2-color: #e9e9e9;
  --hero-h2-span-color: rgba(255, 255, 255, 0);
  --hero-h2-stroke-color: rgb(255, 255, 255);
  --social-border-color: rgba(255, 255, 255, 0.362);
  --social-color: rgb(255, 255, 255);
  --paragraph-color: #f3f3f3;
  --button-color: rgb(27, 27, 27);
  --button-background-color: white;
  --button-shadow-color: rgba(255, 255, 255, 0.534);
  --button-hover-background-color: rgba(255, 255, 255, 0);
  --button-hover-border-color: white;
  --button-hover-shadow-color: rgba(255, 255, 255, 0);
  --button-hover-color: white;
  --intro-line-color: #7a7a7a9f;
  --intro-h1-color: white;
  --intro-p-color: #bdbdbd;
  /* --see-more-button-color: white; */
  --see-more-button-border-color: white;
  --see-more-button-hover-background-color: rgb(255, 255, 255);
  --see-more-button-hover-color: black;
  --about-h1-color: white;
  --about-h1-shadow-color: rgba(255, 255, 255, 0.159);
  --about-p-color: #f3f3f3;
  --circle-text-color: #ffffff;
  --interest-background-color: white;
  --interest-shadow-color: rgba(255, 255, 255, 0.819);
  --interest-h1-color: #101010;
  --interest-p-color: #5a5a5a;
  --interest-li-color: #232323;
  --line-break-color: #6a6a6a47;
  --project-title-h1-color: white;
  --project-title-h1-span-color: white;
  --project-border-color: #909090;
  --project-button-hover-color: black;
  --project-img-border-color: rgba(128, 128, 128, 0.129);
  --project-h1-color: white;
  --project-p-color: #bdbdbd;
  --project-p-logo-color: #ffffff;
  --project-button-background-color: white;
  --project-button-shadow-color: rgba(255, 255, 255, 0.145);
  --project-button-hover-shadow-color: rgba(255, 255, 255, 0.296);
  --third-button-a-color: #848484ea;
  --third-button-a-hover-color: #727272;
  --awards-title-h1-color: white;
  --awards-title-h1-span-color: white;
  --lines-horizontal-color: #c0bbbbef;
  --lines-vertical-color: #c0bbbbef;
  --first-line-h1-color: white;
  --first-line-p-color: #c7c7c7;
  --first-line-img-shadow-color: #7daff11f;
  --first-line-img-border-color: #2e2e2e;
  --second-line-h1-color: white;
  --second-line-p-color: #c7c7c7;
  --second-line-img-shadow-color: #abacac0c;
  --second-line-img-border-color: #2e2e2e;
  --contact-title-h1-color: white;
  --contact-content-h1-color: white;
  --contact-card-border-color: #e7e6e6;
  --contact-card-color: white;
  --contact-card-line-color: #e7e6e6;
  --contact-card-link-color: white;
  --contact-card-link-hover-color: white;
  --footer-color: gray;
  --quote-h2-color: white;
  --quote-span-color: white;
  --quote-content-color: white;
  --quote-author-color: rgb(191, 191, 191);
  --quote-btn-border-color: white;
  --quote-btn-color: rgb(255, 255, 255);
  --quote-btn-hover-background-color: white;
  --quote-btn-hover-color: black;
  --quote-btn-hover-shadow-color: rgba(255, 255, 255, 0.14);
}

body {
  background-color: var(--background-color-drk);
}

.light-mode {
  color-scheme: light;
  --day-color: #434343;
  --night-color: rgb(199, 157, 250);
  --circle-top: 10%;
  --circle-left: 58%;
  --circle-dark-display: none;
  --circle-light-display: ;
  --toggle-text-drk-display: none;
  --toggle-text-lgt-display: display;
  --toggle-text-lgt-color: #191919;
  --toggle-border-color: rgba(194, 194, 194, 0.716);
  --toggle-background-color: #f9f9f920;
  --toggle-box-shadow: rgba(108, 108, 108, 0.344);
  --inner-circle-background-color: #e7e7e7;
  background-color: var(--background-color-lgt);
  --selection-background-color: #1e1e1e;
  --selection-text-color: #f3f3f3;
  --selection-color: rgb(236, 236, 236);
  --nav-background-color: #f3f3f3d1;
  --nav-border-top-color: #6f6f6f2e;
  --nav-border-side-color: #6f6f6f2e;
  --nav-border-bottom-color: #6f6f6f2e;
  --nav-shadow-color: rgba(126, 126, 126, 0.284);
  --nav-a-color: rgb(34, 34, 34);
  --hero-h1-gradient-start: #323232;
  --hero-h1-gradient-end: #ffffff00;
  --hero-h2-color: #2f2f2f;
  --hero-h2-span-color: rgba(42, 42, 42, 0);
  --hero-h2-stroke-color: rgb(0, 0, 0);
  --social-border-color: rgba(35, 35, 35, 0.362);
  --social-color: rgb(35, 35, 35);
  --paragraph-color: #232323;
  --button-color: rgb(248, 248, 248);
  --button-background-color: #262626;
  --button-shadow-color: rgba(147, 147, 147, 0);
  --button-hover-background-color: rgba(0, 0, 0, 0);
  --button-hover-border-color: #ececec;
  --button-hover-shadow-color: rgba(0, 0, 0, 0);
  --button-hover-color: #181818;
  --intro-line-color: #7a7a7a9f;
  --intro-h1-color: #181818;
  --intro-p-color: #4f4f4f;
  --see-more-button-border-color: #181818;
  --see-more-button-hover-background-color: #181818;
  --see-more-button-hover-color: white;
  --about-h1-color: #181818;
  --about-h1-shadow-color: rgba(0, 0, 0, 0.159);
  --about-p-color: #232323;
  --circle-text-color: #0e0e0e;
  --interest-background-color: #181818;
  --interest-color: white;
  --interest-shadow-color: rgba(0, 0, 0, 0.096);
  --interest-h1-color: #ffffff;
  --interest-p-color: #9f9f9f;
  --interest-li-color: #ffffff;
  --line-break-color: #6a6a6a47;
  --project-title-h1-color: #181818;
  --project-title-h1-span-color: #181818;
  --project-border-color: #909090;
  --project-button-hover-color: white;
  --project-img-border-color: rgba(128, 128, 128, 0.129);
  --project-h1-color: #181818;
  --project-p-color: #1c1c1c;
  --project-p-logo-color: #000000;

  --project-button-background-color: #181818;
  --project-button-shadow-color: rgba(36, 36, 36, 0.079);
  --project-button-hover-shadow-color: rgba(54, 54, 54, 0.296);
  --third-button-a-color: #494949ea;
  --third-button-a-hover-color: #727272;
  --awards-title-h1-color: #181818;
  --awards-title-h1-span-color: #181818;
  --lines-horizontal-color: #a2a2a2ef;
  --lines-vertical-color: #a2a2a2ef;
  --first-line-h1-color: #181818;
  --first-line-p-color: #3c3c3c;
  --first-line-img-shadow-color: #7daff137;
  --first-line-img-border-color: #e1e1e1;
  --second-line-h1-color: #181818;
  --second-line-p-color: #333333;
  --second-line-img-shadow-color: #abacac0c;
  --second-line-img-border-color: #d7d7d7;
  --contact-title-h1-color: #181818;
  --contact-content-h1-color: #181818;
  --contact-card-border-color: #393939;
  --contact-card-color: #181818;
  --contact-card-line-color: #393939;
  --contact-card-link-color: #181818;
  --contact-card-link-hover-color: #181818;
  --footer-color: #8f8f8f;
  /* --quote-h2-color: #d70000; */
  --quote-span-color: #181818;
  --quote-content-color: #181818;
  --quote-author-color: #898989;
  --quote-btn-border-color: #181818;
  --quote-btn-color: #181818;
  --quote-btn-hover-background-color: #181818;
  --quote-btn-hover-color: white;
  --quote-btn-hover-shadow-color: rgba(255, 255, 255, 0);
}

::selection {
  background-color: var(--selection-background-color);
  color: var(--selection-color);
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
nav ul {
  display: flex;
  gap: 2.2vw;
  justify-content: space-around;
  margin-top: 1rem;
  background-color: var(--nav-background-color);
  padding-block: 0.8vw;
  width: fit-content;
  padding-inline: 3.5vw;
  /* margin-inline: 115%; */
  border-radius: 9px;
  border-top: 0.1px solid var(--nav-border-top-color);
  border-bottom: 1px solid var(--nav-border-bottom-color);
  border-left: 0.1px solid var(--nav-border-side-color);
  border-right: 0.1px solid var(--nav-border-side-color);
  backdrop-filter: blur(10px);
  list-style-type: none;
  box-shadow: 0px 1px 30px -12px var(--nav-shadow-color);
  opacity: 0;
  animation: from-top 1.5s ease-in-out 0.2s 1 forwards;
}
@keyframes from-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
nav ul li a {
  color: var(--nav-a-color);
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.5s;
}
nav ul li:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
nav button {
  display: flex;
  align-items: center;
  height: fit-content;
  padding-block: 2px;
  padding-inline: 7px;
  font-size: 1em;
  border-radius: 5px;
}
/* nav .toggle-switch .lgt {
  color: var(--day-color);
}
nav .toggle-switch .dark {
  color: rgb(199, 157, 250);
} */
nav .toggle-switch {
  position: absolute;
  right: 4%;
  top: 30%;
  /* display: flex;
  align-items: center; */
  /* gap: 0.5em; */
  color: var(--daynight-color);
}

nav .toggle-switch .dark-txt {
  margin-top: 1em;
  color: var(--toggle-text-drk-color);
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  text-align: center;
  display: var(--toggle-text-drk-display);
  animation: fade 3s ease-in-out 0s 1 forwards;
}
nav .toggle-switch .lgt-txt {
  margin-top: 0.5em;
  color: var(--toggle-text-lgt-color);
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  text-align: center;
  display: var(--toggle-text-lgt-display);
  opacity: 0;
  animation: fade 3s ease-in-out 0s 1 forwards;
}

@keyframes fade {
  0%,
  20% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}
nav #toggle-mode {
  position: relative;
  /* font-size: 0.1rem; */
  cursor: pointer;
  /* color: var(--toggle-color); */
  padding: 16px 34px;
  border-radius: 20px;
  border: 1px solid var(--toggle-border-color);
  backdrop-filter: blur(7px);
  box-shadow: 0px 0px 10px -px var(--toggle-box-shadow);
  background-color: var(--toggle-background-color);
}
.inner-circle {
  top: var(--circle-top);
  left: var(--circle-left);
  position: absolute;
  border-radius: 50%;
  /* padding: 0px 2px; */
  display: flex;
  align-items: center;
  background-color: var(--inner-circle-background-color);
}
.inner-circle .dark {
  /* padding: 200px 6px; */
  font-size: 1rem;
  padding-block: 2.2px;
  padding-inline: 6.2px;
  /* height: fit-content;  */
  color: var(--night-color);
  display: var(--circle-dark-display);
}
.inner-circle .lgt {
  font-size: 0.98rem;
  padding-block: 3.8px;
  padding-inline: 4.9px;
  /* height: fit-content;  */
  color: var(--day-color);
  display: var(--circle-light-display);
}

#hero {
  position: relative;
  /* border: 1px solid white; */
  padding-top: 6rem;
}
#hero h1 {
  width: 100%;
  font-size: 7rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-weight: 400;
  background: linear-gradient(
    140deg,
    var(--hero-h1-gradient-start) 60%,
    var(--hero-h1-gradient-end) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 31px var(--hero-h1-shadow);
  animation: from-top1 1.5s ease-in-out 0.6s 1 forwards;
  opacity: 0;
}
@keyframes from-top1 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#hero h1 span {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}
#hero h2 {
  min-width: 25vw;
  font-size: 1.6rem;
  margin-left: 22vw;
  color: var(--hero-h2-color);
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  margin-top: 0.2vw;
  animation: from-left1 1.5s ease-in-out 0.8s 1 forwards;
  opacity: 0;
}
@keyframes from-left1 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#hero h2 span {
  font-weight: bold;
  color: var(--hero-h2-span-color);
  -webkit-text-stroke: 0.5px var(--hero-h2-stroke-color);
  font-style: italic;
}
#hero .info {
  /* display: flex; */
  /* gap: 20rem; */
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid rgb(255, 255, 255); */
  margin-top: 4vw;
}
#hero .info .social {
  display: flex;
  gap: clamp(1rem, 2rem, 3rem);
  color: var(--social-color);
  font-size: 2rem;
  /* border: 2px solid var(--social-border-color); */
  /* border-radius: 14px; */
  /* padding-inline: 2.5rem; */
  /* padding-block: 4px; */
  margin-inline: auto;
  height: fit-content;
  width: fit-content;
  margin-top: 2vw;
  animation: from-left2 1.5s ease-in-out 0.6s 1 forwards;
  opacity: 0;
}

@keyframes from-left2 {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
#hero .info .social p a i {
  height: fit-content;
  transition: 0.3s;
  cursor: pointer;
  color: var(--social-color);
}
#hero .info .social p a i:hover {
  transform: scale(1.1);
}
#hero .info .paragraph {
  width: 65vw;
  font-size: 1.2em;
  text-align: center;
  color: var(--paragraph-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  line-height: 1.8em;
  letter-spacing: 1px;
  animation: from-right1 1.5s ease-in-out 0.5s 1 forwards;
  opacity: 0;
  margin-inline: auto;
}
@keyframes from-right1 {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
#hero .button {
  text-align: center;
  margin-top: 3vw;
}
#hero .button button {
  background-color: var(--button-background-color);
  font-size: 2rem;
  color: var(--button-color);
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 14px;
  box-shadow: 0px 3px 25px 1px var(--button-shadow-color);
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  animation: from-bottom 1.5s ease-in-out 0.6s 1 forwards;
  opacity: 0;
}
@keyframes from-bottom {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#hero .button button span {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  /* font-style: italic; */
}
#hero .button button:hover {
  transform: scale(1.02);

  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--button-hover-border-color);
  box-shadow: 0px 5px 34px 1px rgba(255, 255, 255, 0);
  color: var(--button-hover-color);
}
#hero .button button:focus {
  transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--button-hover-border-color);
  box-shadow: 0px 5px 34px 1px rgba(255, 255, 255, 0);
  color: var(--button-hover-color);
}
.intro {
  margin-top: 10vw;
}
.intro .content .line {
  width: 3px;
  height: 10vw;
  background-color: var(--intro-line-color);
  border-radius: 10px;
}
.intro .content {
  display: flex;
  justify-content: center;
  gap: 8vw;
}
.intro .content .first h1 {
  color: var(--intro-h1-color);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.8rem;
  max-width: 20vw;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}
.intro .content .first p {
  color: var(--intro-p-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: capitalize;
  max-width: 25vw;
  font-size: 1rem;
  margin-top: 2vw;
  letter-spacing: 1px;
  line-height: 1.6vw;
  font-weight: 450;
  margin-inline: auto;
}
.intro .see-more {
  text-align: center;
  margin-top: 5vw;
}
.see-more a {
  color: var(--see-more-button-border-color);
}
.see-more a:hover {
  color: var(--see-more-button-hover-color);
}
.intro .see-more button {
  padding-inline: 2.5vw;
  padding-block: 0.6vw;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  border: 1px solid var(--see-more-button-border-color);
  border-radius: 50px;
  color: var(--see-more-button-color);
  cursor: pointer;
  position: relative;
  transition: all 0.35s ease;
}
.intro .see-more button:hover {
  background-color: var(--see-more-button-hover-background-color);
  transform: scale(1.03);
  color: var(--see-more-button-hover-color);
}

.intro .see-more button span {
  text-decoration: none;
}
#about {
  padding-inline: 10vw;
  scroll-margin-top: 8vw;
}
.container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5vw;
  /* margin-top: 10vw; */
}

.circle-text {
  fill: var(--circle-text-color);
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.203);
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 200;
}
circle {
  stroke: rgba(86, 86, 86, 0.681);
}
/* .image image:hover,
circle:hover {
  transform: scale(1.01);
  stroke-width: 0px;
  x: 64;
  y: 64;
} */

.rotating-text {
  animation: rotateText 43s ease-in-out infinite;
}
@keyframes rotateText {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

#about h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: var(--about-h1-color);
  text-shadow: 0px 0px 23px rgba(255, 255, 255, 0.159);
  font-size: 5rem;
  margin-top: 8vw;
}
#about p {
  max-width: 70vw;
  color: var(--about-p-color);
  font-family: "Poppins", sans-serif;
  margin-top: 3vw;
  line-height: 1.6em;
  font-size: 1.06rem;
  font-weight: 300;
  letter-spacing: 1px;
}
#interest {
  width: 95%;
  margin-top: 10vw;
  margin-inline: auto;
  background-color: var(--interest-background-color);
  padding-inline: 5vw;
  padding-block: 4vw;
  border-radius: 23px;
  box-shadow: 0px 0px 33px -4px var(--interest-shadow-color);
  display: flex;
  gap: 4vw;
  scroll-margin-top: 6vw;
}
/* @media (min-width: 1488px) {
  #interest .display h1 {
    font-size: 1rem;
  }
} */

#interest .display h1 {
  font-size: clamp(2rem, 6vw, 6rem);
  max-width: 30vw;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: 450;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: var(--interest-h1-color);
}
#interest .display p {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-weight: 1.1rem;
}
#interest .lists {
  display: flex;
  gap: 4vw;
  /* flex-wrap: wrap; */
}
#interest .lists li {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.6px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 2vw;
  text-transform: uppercase;
  color: var(--interest-li-color);
}
.icon {
  display: inline;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#interest .lists p {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: clamp(30vw, 23vw, 18vw);
  color: var(--interest-p-color);
  margin-top: 1vw;
  text-transform: capitalize;
  min-width: 20vw;
  letter-spacing: 0.5px;
  margin-left: 1.4vw;
  line-height: 1.5vw;
  font-weight: 300;
}

.line-break {
  width: 30vw;
  height: 1px;
  /* background-color: var(--line-break-color); */
  border-radius: 10px;
  margin-inline: auto;
  margin-block: 6vw;
}
.project-title {
  display: flex;
  gap: 5vw;
  align-items: center;
  padding-right: 5vw;
  /* border: 1px solid white; */
}
.lines {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  padding-left: 20vw;
  /* justify-content: center; */
  /* width: 100%; */
}
.lines .horizontal {
  width: 45vw;
  height: 1px;
  background-color: var(--lines-horizontal-color);
  border-radius: 10px;
}
.lines .vertical {
  height: 9vw;
  width: 1.5px;
  background-color: var(--lines-vertical-color);
  border-radius: 10px;
}
.project-title h1 {
  width: 20vw;
  font-size: 4rem;
  text-align: end;
  color: var(--project-title-h1-color);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;

  /* border: 1px solid white; */
}
.project-title h1 span {
  font-style: italic;
  font-weight: 300;
}
#projects {
  padding-inline: 10vw;
  padding-top: 5vw;
  /* scroll-margin-top: 18vw; */
}
#projects .card {
  border: 2px solid var(--project-border-color);
  border-radius: 25px;
  width: fit-content;
  padding: 1vw;
}
#projects .cards {
  display: flex;
  justify-content: space-between;
}
#projects img {
  border-radius: 14px;
  width: 30vw;
  border: 1px solid var(--project-img-border-color);
}
#projects h1 {
  font-size: 2.5rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;

  color: var(--project-h1-color);
  font-weight: 400;
  margin-top: 1vw;
  text-transform: uppercase;
}
#projects p {
  width: 30vw;
  font-size: 1.1rem;
  color: var(--project-p-color);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-top: 1vw;
}
#projects .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5vw;
  margin-bottom: 1vw;
  padding-inline: 1vw;
  align-items: center;
}
#projects .buttons .logo a {
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}
#projects .buttons .logo a {
  color: var(--project-p-logo-color);
}
#projects .buttons .logo:hover {
  transform: scale(1.09);
}
#projects .buttons .button button {
  background-color: var(--project-button-background-color);
  padding-inline: 1.2vw;
  padding-block: 0.3vw;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  text-transform: capitalize;
  box-shadow: 0px 4px 30px 1px var(--project-button-shadow-color);
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  color: var(--project-p-color);
  transition: 0.3s;
  border: none;
}
#projects .buttons .button button a {
  color: var(--project-button-hover-color);
  text-decoration: none;
}
#projects .buttons .button button:hover {
  box-shadow: 0px 4px 35px 1px var(--project-button-hover-shadow-color);
  transform: scale(1.05);
}
.third-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
}
.third-button a {
  /* text-align: center; */
  font-size: 1.3rem;
  color: var(--third-button-a-color);
  font-family: "Roboto", serif;
  text-transform: lowercase;
  font-weight: 300;
  text-decoration: underline var(--third-button-a-color);
  cursor: pointer;
  transition: 0.05s ease-in-out;
}
.third-button a:hover {
  text-decoration: underline var(--third-button-a-hover-color);
}
#awards {
  scroll-margin-top: 7vw;
}
#awards .awards-title h1 {
  font-size: 5rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: var(--awards-title-h1-color);
  font-weight: 400;
  margin-top: 1vw;
  font-style: italic;
  font-weight: 600;
  width: 20vw;
  margin-left: 6vw;
  /* border: 1px solid white; */
  text-transform: uppercase;
}
.awards-title {
  display: flex;
  gap: 10vw;
  align-items: center;
  padding-right: 5vw;
  padding-left: 4vw;
  margin-top: 3vw;
  /* border: 1px solid white; */
}
.lines-2 {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  /* padding-left: 20vw; */
  justify-content: end;
  /* width: 100%; */
}
.lines-2 .horizontal {
  width: 45vw;
  height: 1px;
  background-color: var(--lines-horizontal-color);
  border-radius: 10px;
}
.lines-2 .vertical {
  height: 9vw;
  width: 0.6px;
  background-color: var(--lines-vertical-color);
  border-radius: 10px;
}
.first-line {
  display: flex;
  justify-content: center;
  gap: 8vw;
  padding-inline: 7vw;
  align-items: center;
  margin-top: 10vw;
}
.first-line .text h1 {
  text-transform: uppercase;
  width: 30vw;
  color: var(--first-line-h1-color);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 3.5rem;
  font-weight: 300;
}
.first-line p {
  color: var(--first-line-p-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 2vw;
  font-weight: 300;
  margin-top: 2.3vw;
  width: 35vw;
  font-size: 1.18rem;
}
.first-line .img img {
  width: 30vw;
  box-shadow: 0px 6px 93px 17px var(--first-line-img-shadow-color);
  border-radius: 8px;
  border: 1px solid var(--first-line-img-border-color);
}
.second-line {
  display: flex;
  justify-content: center;
  gap: 8vw;
  padding-inline: 7vw;
  /* border: 1px solid white; */
  margin-top: 10vw;
  align-items: center;
}
.second-line .text h1 {
  text-transform: uppercase;
  width: 30vw;
  color: var(--second-line-h1-color);
  font-family: "Inter", sans-serif;

  font-size: 3.5rem;
  font-weight: 300;
  /* border: 1px solid white; */
  margin-left: 6vw;
  text-align: end;
}
.second-line p {
  color: var(--second-line-p-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 2vw;
  font-weight: 300;

  margin-top: 2.3vw;
  text-align: right;
  /* border: 1px solid white; */
  width: 35vw;
  font-size: 1.18rem;
}
.second-line .img img {
  width: 30vw;
  box-shadow: 0px 6px 93px 17px var(--second-line-img-shadow-color);
  border-radius: 8px;
  border: 1px solid var(--second-line-img-border-color);
  /* transform: rotate(90deg); */
}
.lines-3 {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  justify-content: center;
  /* width: 100%; */
  margin-top: 8vw;
}
.lines-3 .horizontal {
  width: 85vw;
  height: 1px;
  background-color: var(--lines-horizontal-color);
  border-radius: 10px;
}
.lines-3 .vertical {
  height: 9vw;
  width: 1.5px;
  background-color: var(--lines-vertical-color);
  border-radius: 10px;
}
#contact {
  text-align: center;
  margin-top: 6vw;
  scroll-margin-top: 6vw;
}
#contact .title h1 {
  font-size: 5.5rem;
  font-family: "Outfit", sans-serif;

  font-style: italic;
  color: var(--contact-title-h1-color);
  text-transform: uppercase;
  margin-bottom: 8vw;
}
#contact .content {
  display: flex;
  gap: 2vw;
  align-items: center;
}
#contact .content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--contact-content-h1-color);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.2vw;
  transform: rotate(-90deg);
  font-style: italic;
  font-weight: 200;
  /* margin-top: 20vw; */
  width: fit-content;
}
#contact .content .card {
  display: flex;
  gap: 2vw;
  font-size: 2rem;
  color: var(--contact-card-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  border: 1.5px solid var(--contact-card-border-color);
  border-radius: 13px;
  padding: 10px;
  padding-left: 2vw;
  width: 60vw;
}
#contact .content .card .line {
  height: 3vw;
  width: 1px;
  background-color: var(--contact-card-line-color);
  border-radius: 10px;
}
#contact .content .card .link a {
  text-decoration: none;
  cursor: pointer;
  color: var(--contact-card-link-color);
}
#contact .content .card .link a:hover {
  text-decoration: underline;
}
#contact .cards {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  /* margin-top: 1vw; */
}
footer {
  margin-top: 9vw;
  color: var(--footer-color);
  font-family: "Outfit", sans-serif;

  text-align: center;
  text-transform: uppercase;
}
.quote {
  padding-inline: 4vw;
  margin-top: 8vw;
}
.quote h2 {
  font-size: 4rem;
  font-style: italic;
  color: var(--quote-h2-color);
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 28px var(--quote-h2-color);
}
.quote span {
  color: var(--quote-span-color);
  font-size: 5rem;
  /* border: 1px solid white; */
  height: 0vw;
}
.quote #quote-content {
  color: var(--quote-content-color);
  text-transform: capitalize;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  /* margin-top: 1vw; */
  font-style: oblique;
  max-width: 70vw;
  font-weight: 200;
}
.quote #author {
  color: var(--quote-author-color);
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-top: -2vw;
  font-size: 1.3rem;
}
.quote #btn {
  border: none;
  padding-inline: 1.5vw;
  padding-block: 0.8vw;
  font-size: 1.3rem;
  /* color: rgb(255, 255, 255); */
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-top: 2vw;
  border-radius: 7px;
  color: var(--quote-btn-color);
  border: 1px solid var(--quote-btn-border-color);
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.quote #btn:hover {
  transform: scale(1.1);
  color: var(--quote-btn-hover-color);
  background-color: var(--quote-btn-hover-background-color);
  box-shadow: 0px 4px 30px -2px var(--quote-btn-hover-shadow-color);
}
.quote #btn:focus {
  transform: scale(1.1);
  color: var(--quote-btn-hover-color);
  background-color: var(--quote-btn-hover-background-color);
  box-shadow: 0px 4px 30px -2px var(--quote-btn-hover-shadow-color);
}
@media (min-width: 320px) and (max-width: 768px) {
  * {
    overflow-x: hidden;
    /* border: 1px solid white; */
    /* overflow-y: visible; */
  }
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding-bottom: 3vw;
    /* overflow: hidden; */
  }
  nav .toggle-switch {
    position: absolute;
    gap: 0.1rem;
    right: 1%;
    top: 9%;
  }
  nav #toggle-mode {
    position: fixed;
    font-size: 2rem;
    cursor: pointer;
    bottom: 9%;
    right: 3%;
    display: var(--circle-dark-display);
    border: 1px solid var(--toggle-border-color);
    display: flex;
    place-items: center;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: none;
    opacity: 0;
    animation: right 2.4s ease-in-out 1.5s 1 forwards;
  }
  @keyframes right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    50% {
      transform: translate(-8px);
    }
    100% {
      transform: translate(0px);
      opacity: 1;
    }
  }

  nav .toggle-switch .dark-txt {
    display: none;
  }
  nav .toggle-switch .lgt-txt {
    display: none;
  }
  .inner-circle {
    /* top: var(--circle-top);
    left: var(--circle-left); */
    position: absolute;
    border-radius: 50%;

    padding: 0px 2px;
    background-color: transparent;
  }
  .inner-circle .dark {
    /* padding: 200px 6px; */
    font-size: 1.5rem;
    padding-top: 7px;
    padding-left: 8px;
    /* height: fit-content;  */
    color: var(--night-color);

    /* overflow-y: auto; */
  }
  .inner-circle .lgt {
    font-size: 1.4rem;
    padding-top: 8px;
    padding-left: 7px;
    /* height: fit-content;  */
    color: var(--day-color);
    display: var(--circle-light-display);
  }
  nav ul {
    background-color: var(--nav-background-color);
    gap: 3vw;
    margin-top: 2vw;
    padding-block: 4vw;
    padding-inline: 8vw;
    margin-right: 2px;
  }
  nav ul li a {
    font-size: 1rem;
  }
  #hero h1 {
    font-size: 6rem;
    background: linear-gradient(
      140deg,
      var(--hero-h1-gradient-start) 60%,
      var(--hero-h1-gradient-end) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 31px var(--hero-h1-shadow);
  }
  :root {
    --circle-top: 0%;
    --circle-left: 0%;
    --toggle-border-color: #6565654a;
  }
  .light-mode {
    --circle-top: 0%;
    --circle-left: 0%;
    --toggle-background-color: #dadadacd;
    --toggle-border-color: rgba(173, 173, 173, 0.551);
  }
  #hero .info {
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid white; */
  }
  #hero h2 {
    font-size: 1.6rem;
    margin-left: 20vw;
  }
  #hero .info .paragraph {
    text-align: center;
    padding-inline: 5vw;
    /* border: 1px solid white; */
    min-width: 100%;
  }
  #hero .info .social {
    /* margin-top: 6vw; */
    gap: 2rem;
  }
  #hero .info .social {
    font-size: 1.8rem;
    height: 100%;
    justify-content: center;
    margin-inline: auto;
    /* border: 1px solid var(--social-border-color); */
    padding-inline: 30px;
    /* border-radius: 8px; */
  }
  #hero .info .social p a i {
    /* height: 10vw; */
    transition: 0.3s;
    cursor: pointer;
    color: var(--social-color);
  }
  #hero .button button {
    padding-inline: 4rem;
    color: var(--button-color);
    border-radius: 10px;
    box-shadow: 0px 3px 10px -1px var(--button-shadow-color);
    /* margin-inline: 9vw; */
    font-size: 1.4rem;
  }
  .intro {
    margin-top: 1vw;
  }
  .intro .content .line {
    width: 80%;
    height: 0.1vw;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-inline: auto;
  }
  .intro .content {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid rgba(255, 255, 255, 0.362); */

    /* margin-inline: auto; */
    gap: 0vw;
  }
  .intro .content .first h1 {
    min-width: 80%;
    text-align: center;
    margin-top: 10vw;
    margin-inline: auto;
  }
  .intro .content .first p {
    min-width: 80%;
    line-height: 8vw;
    text-align: center;
    margin-bottom: 8vw;
    margin-inline: auto;
  }
  .intro .see-more button {
    padding-inline: 7vw;
    padding-block: 2vw;
    font-size: 1.4rem;
  }

  #about {
    padding-inline: 4vw;
    margin-inline: auto;
    scroll-margin-top: 8vw;
  }
  #about h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  #about p {
    min-width: 100%;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 5vw;
    /* margin-top: 10vw; */
  }
  .image {
    margin-inline: auto;
  }
  #interest {
    flex-wrap: wrap;
    box-shadow: 0px 0px 25px -4px var(--interest-shadow-color);
    border-radius: 10px;
    padding-block: 8vw;
    scroll-margin-top: 20vw;
  }
  #interest .display h1 {
    font-size: 4rem;
    max-width: 100%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 450;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    /* border: 1px solid #212121; */
  }
  #interest .lists li {
    font-size: 2rem;
    /* overflow-x: auto; */
    min-width: 100%;
    font-weight: 700;
  }
  #interest .lists p {
    line-height: 4.5vw;
    max-width: 100%;
    font-size: 0.9rem;
  }
  #interest .lists {
    display: flex;
    flex-direction: column;
    gap: 0vw;
    /* border: 1px solid #212121; */
  }
  .project-title {
    gap: 2vw;
    padding-right: 0vw;
  }
  .lines {
    padding-left: 7vw;
  }
  .lines .horizontal {
    width: 35vw;
    height: 1px;
    background-color: var(--lines-horizontal-color);
    border-radius: 10px;
  }
  .lines .vertical {
    height: 29vw;
    width: 1.5px;
    background-color: var(--lines-vertical-color);
    border-radius: 10px;
  }
  .project-title h1 {
    min-width: 50vw;
    font-size: 2.5rem;
    margin-right: 2vw;
  }
  #projects {
    padding-inline: 5vw;
    padding-top: 5vw;
  }
  #projects .card {
    border: 2px solid var(--project-border-color);
    border-radius: 25px;
    width: fit-content;
    padding: 4vw;
  }
  #projects .cards {
    display: flex;
    flex-direction: column;
    gap: 6vw;
  }
  #projects img {
    border-radius: 14px;
    width: 100%;
    border: 1px solid var(--project-img-border-color);
  }
  #projects h1 {
    font-size: 1.5rem;
    width: 100%;
  }
  #projects p {
    width: 100%;
  }
  #projects .buttons .logo a {
    font-size: 1.9rem;
  }
  #projects .buttons .button button {
    box-shadow: 0px 4px 90px -1px var(--project-button-shadow-color);
    padding-inline: 4vw;
    font-size: 1.1rem;
    padding-block: 1vw;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
  }
  .awards-title {
    padding-right: 2vw;
    gap: 5vw;
    padding-left: 1vw;
  }
  #awards .awards-title h1 {
    font-size: 3rem;
    min-width: 55vw;
  }
  .lines-2 {
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    /* padding-left: 20vw; */
    justify-content: end;
    /* width: 100%; */
  }
  .lines-2 .horizontal {
    width: 25vw;
    height: 0.5px;
    background-color: var(--lines-horizontal-color);
    border-radius: 10px;
  }
  .lines-2 .vertical {
    height: 29vw;
    width: 0.6px;
    background-color: var(--lines-vertical-color);
    border-radius: 10px;
  }
  .first-line {
    gap: 5vw;
    flex-direction: column;
  }
  .first-line .text h1 {
    font-size: 3rem;
    width: 100%;
  }
  .first-line p {
    width: 100%;
    line-height: 6vw;
  }
  .first-line .img img {
    width: 100%;
    border-radius: 5px;
    margin-top: 5vw;
  }
  .second-line {
    flex-direction: column-reverse;
  }
  .second-line .text h1 {
    margin-left: 0vw;
    width: 100%;
    font-size: 3rem;
  }
  .second-line p {
    width: 100%;
    line-height: 6vw;
  }
  .second-line .img img {
    width: 100%;
  }
  #contact .content {
    flex-direction: column;
    gap: 5vw;
    /* padding-inline: 0vw; */
    /* background-color: red; */
  }
  #contact .title h1 {
    font-size: 4rem;
  }
  #contact .content h1 {
    opacity: 0;
    position: absolute;
    z-index: -99999999;
    font-size: 3rem;
    transform: rotate(0deg);
  }
  #contact .content .card {
    font-size: 1.6rem;
    width: 100%;
    /* margin-inline: auto; */
    /* padding-left: 7vw; */
    padding-inline: 2vw;
    border-radius: 8px;
    padding-block: 1vw;
  }
  #contact .logo {
    font-size: 1.4rem;
    margin-top: 9px;
  }
  #contact .content .card .line {
    height: 11vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    background-color: var(--nav-background-color);
    margin-top: 2vw;
    padding-block: 2vw;
    padding-inline: 6vw;
  }
  #hero .info .social {
    margin-right: clamp(0vw, 5vw, 15vw);
  }
  #hero .info .paragraph {
    margin-right: clamp(0vw, 0vw, 5vw);
  }
  .intro .content .line {
    width: 1px;
    height: 30vw;
    background-color: var(--intro-line-color);
    border-radius: 10px;
  }
  .intro .content .first h1 {
    max-width: 35vw;
  }
  .intro .content .first p {
    max-width: 45vw;
    line-height: 3vw;
    margin-inline: auto;
  }
  #interest {
    width: 98%;
    margin-inline: auto;
  }
  #interest .lists {
    display: flex;
    gap: 4vw;
    flex-wrap: wrap;
  }
  #interest .lists p {
    line-height: 3vw;
  }
}
